<div id = "answer">
  <h1 style= "color:#D0DDD7"> Your question:</h1>
  <p><%= @question %></p>
  <h2 style= "color:#D0DDD7">Coach's answer:</h2>
  <p><%= @answer %></p>
  <%= link_to "Ask a new question", ask_path %>
</div>
