<form action="answer">
  <h1>Coaching Controller, ask your question:</h1>
    <label for="question" style= "color:#D0DDD7">Speak to your coach</label>
    <input type="text" class="form-control" name="question" placeholder="Insert question here">
    <input type="submit" value="Ask!" class="btn btn-primary"></button>
</form>
